<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" rel="stylesheet">

</head>

<body>
  <div class="main mt-3">
    <h2>URL Shortener</h2>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png">
    {{{ body }}}
  </div>
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/index.js"></script>
</body>

</html>