<h3>Success! Please use this link:</h3>
<a href="{{ shortUrl }}">{{ shortUrl }}</a>
<p>You entered: {{ url }}</p>
<div class="mb-3">
  <a class="btn btn-primary" href="/" role="button">Shorten another URL</a>
</div>