.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fce2cf;
  border-radius: 8px;
  width: 60%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

#search-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.form-control {
  width: 100%;
}

img {
  height: 180px;
}

h3 {
  font-weight: bold;
}

a {
  font-size: 2.4rem;
}